{% extends "base.html" %}

{% block content %}
	<script type="text/javascript">
		$(document).ready(function() {
			var socket = io.connect('https://' + document.domain + ':' + location.port);

            socket.on("connect", function() {
                var room_id = "{{ room.room_id }}";
                socket.emit("joined", {"room_id": room_id});
            });

            socket.on("updated-sug-list", function(data) {
                var room_id = data["room_id"];
                if (room_id == "{{ room.room_id }}") {
                    songs = data["songs"];
                    $("#title").empty();
                    $("#title").append("<h3>Current Playlist:</h3>");
                    $("#sug-list").empty();
                    for (var i = 0; i < songs.length; i++) {
                        $("#sug-list").append("<li>\"" + songs[i][0] + "\" by " + songs[i][1] + "</li>");
                    }
                    $("#title").css("display", "inline");
                    $("#sug-list").css("display", "block");
                    }
            });


			socket.on("song-query-results", function(results) {
				$("#results").empty();
                $("#results").append("<br>");
                if (results.length > 0) {
				    for (var i = 0; i < results.length; i++) {
                        $("#results").append("<input type=\"radio\" name=\"song\" value=\"" + results[i].spotify_url + "\">" + "<img src=" + results[i].album_cover + " height=\"40\" width=\"40\"/>" + results[i].name + "<br>");
				    }
				    $("#results").css("display", "block");
                    $("#submit").css("display", "inline");
                } else {
                    $("#results").append("No songs were found.");
                    $("#results").css("display", "block");
                    $("#submit").css("display", "none");
                }
			});

            socket.on("failed", function(str) {
                // Called if back-end failed to add song to room playlist.
                // TODO message about failing to add to list
                $("#results").append(str);
                $("#results").css("display", "block");
            });

            $("#search-box").keypress(function(e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    socket.emit("song-query", $("#search-box").val());
                }
            });

			$("#search-button").on("click", function() {
				if ($("#search-box").val() != "") {
					socket.emit("song-query", $("#search-box").val());
				}
			});
            
            $("#submit").on("click", function() {
                selected = document.forms.results.song.value
                if (selected != null) {
                    var room_id = "{{ room.room_id }}";
                    socket.emit("song-selection", {"spotify_url": selected, 
                        "room_id": room_id});
                    // TODO This may be vulnerable to injection attacks
                    $("#results").empty();
                    $("#results").css("display", "none");
                    $("#submit").css("display", "none");
                    $("#search-box").val("")
                }
            });
		});
	</script>

    <h1>Room {{ room.room_id }}</h1>
    <h3 id="title" style="display:none"></h3>
    <ol id="sug-list" style="display:none"></ol>
    {% if room.owner_id %}
        <p>Owner: {{ room.owner_id }}</p>
    {% endif %}

	<br>
	<input type="text" id="search-box">
	<button id="search-button">Search</button>

    <form id="results"></form>
	<button id="submit" style="display:none">Submit</button>
{% endblock %}
