[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[requires]
python_version = "3.6.6"

[packages]
alembic = "*"
certifi = "*"
chardet = "*"
click = "*"
eventlet = "*"
flask-socketio = "*"
flask-wtf = "*"
greenlet = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
pipenv = "*"
psycopg2 = "*"
python-dateutil = "*"
python-editor = "*"
python-engineio = "*"
python-socketio = "*"
requests = "*"
six = "*"
spotipy = "*"
sqlalchemy = "*"
"urllib3" = "*"
virtualenv = "*"
virtualenv-clone = "*"
werkzeug = "*"
Flask = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
"Jinja2" = "*"
Mako = "*"
MarkupSafe = "*"
WTForms = "*"
